/**
宽高混入
*/
@mixin wh($width,$height){//配置宽高
    width: $width;
    height: $height;
}
/**
flex混入样式
*/
@mixin flexMixin($justifyContent:center,$alignItems:center,$flexFlow:row){
    //配置水平方向
    display: flex;
    justify-content: $justifyContent;
    align-items:$alignItems;
    flex-flow: $flexFlow;
   
}
 //配置字体样式
 @mixin fontMixin($fontSize,$fontWeight,$color:#fff){
   font-size: $fontSize;
   color:$color ;
   font-weight: $fontWeight;
 }
